.counter{
    margin-left: 60px;
    background-color: rgba(47, 182, 117, 1);
    border-radius: 999px;
    min-width: 24px;
    min-height: 24px;
    width: 24px;
    height: 24px;
    color: white;
display: flex;
align-items: center;
justify-content: center;
}
.conteiner{
    display: flex;
    width: 163px;
height: 56px;
}